mixin og( title, description, image, url )
  title= title
  meta( name="keywords" content="vegan, web developer, interfaces, fitness, guitarist, BluesMotel, AKQA" )
  meta( property="og:site_name" content="Tim Benniks, vegan food lover, fitness junky, musician and web-developer living in Paris." )
  meta( name="description" content=description )

  meta( property="og:title" content=title )
  meta( property="og:image" content=image )
  meta( property="og:url" content=url )
  meta( property="og:description" content=description )

  meta( name="twitter:card" content="summary_large_image" )
  meta( name="twitter:site" content="@timbenniks" )
  meta( name="twitter:title" content=title )
  meta( name="twitter:description" content=description )
  meta( name="twitter:image" content=image )